h1 {color: red;}
body {background: black; color: white; text-align: center;}
button {
  background-color: black;
  color: white;
  border: 5px solid white; /* Green */
  font-size: 40px;
  transition-duration: 0.4s;
  width: 25%;
}
button:hover {
  background-color: white; /* Green */
  color: black;
  border: 5px solid white; /* Green */
  font-size: 40px;
}
