h1 {color: red;}
body {background: black; color: white; text-align: left;}
button {
  background-color: black;
  color: white;
  border: 2px solid white; /* Green */
  font-size: 15px;
  transition-duration: 0.4s;
  width: 10%;
}
button:hover {
  background-color: white; /* Green */
  color: black;
  border: 2px solid white; /* Green */
  font-size: 20px;
  width: 10%;
}
