div {
}

body {
    background-color: rgb(39, 39, 39);
}

button {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 6px;
    border-width: 0;
    color: white;
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px;
    transition-duration: 400ms;
}
button:hover {
    background-color: red;
}