@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


div {
    width: 600px;

}

.logo {
    visibility: hidden;
    width: 0;
    height: 0;
}
body {
    font-family: 'Ubuntu', sans-serif;
    background-image: url(/web-bg-main.png);
    background-color: rgb(36, 36, 36);
    background-position-y: top;
    background-position-x: right;
    background-size: contain;
    background-repeat: no-repeat;
}

button {
    width: 100%;
    margin-top: 10px;
    height: 100px;
    background-color: black;
    border-radius: 6px;
    border-width: 0;
    color: white;
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px;
    transition-duration: 400ms;
}
button:hover {
    background-color: red;
}
p.info {
    color: rgb(151, 151, 151);
    padding: 0;
    margin: 0;
    font-size: 15px;
}

p.version {
    text-align: center;
    color: white;
    font-size: 20px;
}

@media only screen and (max-device-width: 480px) {
    div {
        width: 100%;
    }
    body {
        background-image: none;
    }
    .logo {
        width: 100%;
        height: fit-content;
        visibility: visible;
        display: inline-block;
        margin-right: -4px;
    }
    button {
        height: 200px;
        font-size: 100px;
    }
    p.info {
        color: rgb(151, 151, 151);
        padding: 0;
        margin-top: 60px;
        font-size: 30px;
    }
    p.version {
        font-size: 40px;
    }
}