@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

html {
    background-color: rgb(58, 58, 58);
}
body {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 0;
    padding-top: 0;
}
img.logo {
    src: local("/web-bg-main.png");
    position: sticky;
    width: 100%;
    height: fit-content;
    max-height: 492px;
    max-width: 1080px;
    display: block;
  margin-left: auto;
  margin-right: auto;

}

h1 {
    text-align: center;
    color: white;
}



p {
    width: 100%;
    padding: 20px 10px;

    color: white;
}

p.infomain {
    text-align: center;
}

button {
    margin: 1%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    border-width: 0;
    border-radius: 6px;
    color: white;
    width: 98%;
    height: 100px;
    background-color: rgb(255, 0, 0);
    transition: 
    background-color 400ms;
}

button:hover {
    background-color: rgb(156, 0, 0);
}

div.projects {
    background-color: black;
    border-radius: 6px;
    padding: 0;
    margin: 0;
}
div.projects h2 {
    color: white;
    padding-top: 40px;
    text-align: center;
}






@media only screen and (max-device-width: 480px) {
    body {
        font-size: 60px;
        margin-top: 0;
        padding-top: 0;
    }
    img.logo {
        width: 100%;
        margin: 0;
        padding: 0;
        display:unset;
    }
    button {
        width: 100%;
        font-size: 100px;
        height: 200px;
        margin-left: 0;
        margin-right: 0;
        border-radius: 0px;
        padding: 0;

    }
    div.projects {
        width: 100%;
    }


    p {
        border-radius: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
    }
}