@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

@keyframes buttonshow {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes panelshow {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes backgroundshow {

}


.bg {
    animation-name: backgroundshow;
    animation-duration: 1s;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(3px);
    
    
  }

html {
    background-color: rgb(0, 0, 0);
}
body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    margin-top: 0;
    padding-top: 0;
}
img.logo {
    src: local("/web-bg-main.png");
    position: sticky;
    width: 100%;
    height: fit-content;
    max-height: 492px;
    max-width: 1080px;
    display: block;
  margin-left: auto;
  margin-right: auto;

}


h1 {
    font-weight: 500;
    text-align: center;
    color: white;
    position: relative;
    text-shadow: 0 0 0em rgba(255, 255, 255, 0);
    transition: 
    text-shadow 200ms;
}
h1:hover {
    text-shadow: 0px 0px 0.2em rgb(255, 255, 255);
}

div.name h1 img {
    filter: blur(5px);
    opacity: 0;
    width: 25px;
    margin: 0 2px;
    transition:
    opacity 200ms ,
    filter 200ms ,
    margin 200ms ;
}

div.name h1:hover img {
    filter: blur(0px);
    opacity: 1;
    margin: 0 10px;
}


p {
    width: 100%;
    padding: 20px 10px;

    color: white;
}

p.infomain {
    text-align: center;
}

button {
    font-weight: 700;
    opacity: 0;
    animation: buttonshow;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    margin: 1%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    border-width: 0;
    border-radius: 6px;
    color: white;
    width: 98%;
    height: 100px;
    background-color: rgb(255, 0, 0);
    box-shadow: inset 0 0px 0px rgb(0, 0, 0);
    transition: 
    height 200ms,
    text-shadow 200ms,
    box-shadow 200ms,
    background-color 200ms;
}

button:hover , button:focus {
    text-shadow: rgb(0, 0, 0) 0 0px 0.4em;
    background-color: rgb(255, 0, 0);
    box-shadow: inset 0 0px 0.4em rgb(0, 0, 0);
    
}

div.projects {
    opacity: 0;
    animation-name: panelshow;
    animation-duration: 0.3s;
    animation-delay: 0.3s;
    animation-timing-function:ease-in-out;
    animation-fill-mode: forwards;
    background-color: black;
    border-radius: 6px;
    padding: 0;
    margin: 0;

}
div.projects h2 {
    color: white;
    padding-top: 40px;
    text-align: center;
}






@media only screen and (max-device-width: 480px) {
    body {
        font-size: 60px;
        margin-top: 0;
        padding-top: 0;
    }
    img.logo {
        width: 100%;
        margin: 0;
        padding: 0;
        display:unset;
    }
    button {
        width: 100%;
        font-size: 100px;
        height: 200px;
        margin-left: 0;
        margin-right: 0;
        border-radius: 0px;
        padding: 0;

    }
    div.projects {
        width: 100%;
    }
    div.name h1 img {
        filter: blur(0px);
        opacity: 0;
        width: 0px;
        margin: 0 0px;
    }
    div.name h1:hover img {
        margin: 0;
    }

    p {
        border-radius: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
    }
}