@keyframes bgloop {
    0% {background-position: 0 0px;}
    100% {background-position: 534.0px 534.0px;}
}



  
.bg {
    animation-name: backgroundshow;
    animation-duration: 0.4s;
    animation-timing-function:cubic-bezier(0.55, 0.085, 0.68, 0.53);
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(3px);

    
  }


.bgtest {
    background-image: url("particles.png");
    background-repeat: repeat;
    animation: 10s linear .1s bgloop infinite;

}